</body>
<script>
   const sleep = function (){
    setTimeout(function(){
        window.location.href = 'http://localhost:3000';
    },2500)
   }
</script>
<script src="/static/switch.js"></script>
</html>